@charset "utf-8";
/* CSS Document */

.page-box__title > a:hover,.page-box__title > a:before {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;width:100%;
}


.page-box__title > a:hover {border-bottom:2px solid #DA251C;width:100%;
}
