/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
/*    cursor:url(grabbing.png) 8 8, move;*/
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


.owl-item {
    padding:4px 6px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
    max-height: 130px;


}
.owl-carousel .item iframe{
    max-height: 250px;
    max-width: 250px;
}

.owl-item .item{
    display: block;
    min-height: 250px;
    font-size: 14px;
    color: #676767;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    background-color: #50504F;
    transition: all ease .3s;
}
.owl-item .item h2 {
    text-align: center;
    font-style: normal;
    color: #8a8a8a;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 6px 0px;
}
.owl-item .item span {
    text-align: center;
    display: block;
    margin: 0px 14px 10px;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
}
.owl-item .item:hover {
   transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
}
.casestudy:hover, .whitepaper:hover{
/*    transform: translateY(0px) !important;
    -webkit-transform: translateY(0px) !important;*/
}